<% @title = "Visi ......" %>
<h1 align="center">Čia rasi visus ..... !</h1>

<div align="center">
  <%= will_paginate %>
</div>

<%= render 'article', obj: @articles %>

<div align="center">
  <%= will_paginate %>
</div>