<!DOCTYPE html>
<html>
  <% if !logged_in? %>
    <body class= "imgres">
      <p id='alphaName', class="center animated infinite pulse">Mokyklos kursas LENGVAI!</p>
      <ul class=center>
        <h2 style="color:#055D05; font-size: 45px">Sunkūs mokslai?</h2>
        <h2 style="color:#055D05;font-weight: bold;">Sunki tema? Jos nesupranti?</h2>
        <p style="color:#04B404;font-size:70px">Visiškai NEMOKAMA REGISTRACIJA!!!</p>
        <%= link_to "TRUMPA registracija!", signup_path ,class: "btn", class:"hvr-grow",id:'signUpNow'%>
        <%= link_to 'PRISIJUNGTI!', login_path, class: "btn", class:"hvr-grow", id: "miniLogin" %>
      </ul>
    </body>
  <% else %>
    <body class= "imagres">
      <h1 class="center">TIPS and TRICKS!</h1>
    </body>
  <% end %>
</html>
