$navbar-default-bg: black;

@import "bootstrap-sprockets";
@import "bootstrap";

.article-title {
font-weight: bold;
font-size: 1.5em;
}
.article-body {
border-top: 1px solid #E2E2E2;
padding-top: 15px;
padding-bottom: 20px;
}
.article-actions {
border-top: 1px solid #E2E2E2;
padding-top: 5px;
padding-bottom: 10px;
}
.description {
margin-top: 5px;
}

.panel-body{
   color: red;
   background-color: #F6CECE;
}
.panel-title{ 
  font-weight: bold;
  color: red;
  background-color: #F6CECE;
  letter-spacing: 1px;
}

.center{
  text-align: center;
}
.jumbotron{
  margin-top: 20px;
  background-image: asset-url('blue-image.jpg');
  background-size: cover;
  height: 620px;
}
.jumbotron h1{
  color: white;
  font-weight: bold;
  font-size: 100px;
  margin-bottom: 50px;
}//alpha name

.article-meta-details {
  border-top: 1px solid #eaeaea;
  margin-top: 15px;
}
footer{
  margin-top: 15px;
  padding-top: 5px;
  border-top: 3px solid #BDBDBD;
  color: #777;
}
footer a{
  font-weight: bold;
  text-decoration: none;
  
}
footer a:hover{
  font-weight: bold;
  color: #FAA667;
  text-decoration: none;
  
}
footer small{
  float: left;
}
footer ul{
  float: right;
  list-style: none;
}
footer ul li{
  float: left;
  margin-left: 15px;
}

#alpha{
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 25px;
  letter-spacing: -1px;
}
#alpha:hover{
  color:#FFC000;
  text-decoration: none;
  font-size: 25px;
  letter-spacing: -0.2px;
}

#navigationBar{
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 15px;
}
#navigationBar:hover{
  color:#FFC000;
  text-decoration: none;
  font-size: 15.2px;
  letter-spacing: 0.2px;
}

#dropdownBar{
  color: black;
  font-weight: bold;
  font-family: Arial;
  font-size: 14px;
  letter-spacing: 0px;
}
#dropdownBar:hover{
  color: black;
  font-weight: bold;
  font-family: Arial;
  font-size: 14px;
  letter-spacing: 0.1px;
  text-decoration: none;
}
.signup-title{
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 55px;
  margin-bottom: 30px;
}
#signUpNow{
  color: #C0C0C0;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 50px;
  letter-spacing: 1px;
  text-align: center;
  margin-top: 200px;
  background-color: #00A97E;
}
#signUpNow:hover{
  color: #FFFFFF;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 50px;
  letter-spacing: 1px;
  text-decoration: none;
  text-align: center;
  background-color: #008463;
}