$navbar-default-bg: black;
@import "bootstrap-sprockets";
@import "bootstrap";

#miniLogin{
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 280%;
  letter-spacing: 1px;
  text-align: center;
  margin-top: 5%;
  margin-right: 90%;
  background-color: #144DC5;
  border: 4px solid #DBF5FF;
  border-radius: 20px;
}
#miniLogin:hover{
  text-decoration: none;
}

#black{
  color: black;
}

.marginTop{
  margin-top: 3%;
}
/*
div ul h2{
  color: #2E2E2E;
  margin-left: 50%;
}

ul li{
  color: #2E2E2E;
  font-size: 200%;
  margin-left: 50%;
}*/
#signUpNow{
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 350%;
  letter-spacing: 1px;
  text-align: center;
  margin-top: 20px;
  margin-right: 90%;
  background-color: #144DC5;
  border: 4px solid #DBF5FF;
  border-radius: 20px;
}
#signUpNow:hover{
  text-decoration: none;
}
.formBG{
  background-image: asset-url('imgres.jpg');
  background-repeat: no-repeat;
}
.images2{
  background-image: asset-url('images2');
  background-repeat: no-repeat;
}
.imgres{
  background-image: asset-url('imgres');
  background-repeat: no-repeat;
}

#alphaName{
  margin-top: 2%;
  font-weight: bold;
  color: #2E2E2E;
  font-size: 550%;
  letter-spacing: 1px;
  margin-bottom: 3%;
}
.signup-title{
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 55px;
  margin-bottom: 30px;
}
.badge{
  background-color: #A9E2F3;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  
}
.badge :hover{
  text-decoration: none;
}