<% if logged_in? %>
  <div class="container">
    <footer class="footer">
      <small> Copyright &copy; <a href="https://www.adress.com">Adresas</a> </small>
      <nav>
        <ul>
          <li><small><%= link_to "Apie", about_path %> </small></li>
        </ul>
      </nav>
    </footer>
  </div>
<% end %>